<div class="appSidebarInner">
  <div class="appSidebarHeader">
    <div class="appSidebarBrand" data-i18n="brand.short">tModWebTools - TWT</div>
  </div>
  <nav class="appNav" data-i18n-aria="nav.aria" aria-label="工具导航">
    <div class="appNavSectionLabel" data-nav-section="tools" data-i18n="nav.sectionTools">工具</div>
    <a class="appNavLink pageTab" data-twt-page="index" href="./index.html"><img class="tabIcon" src="/trtools/img/Tilesheet.png" alt="" width="16" height="16" decoding="async" fetchpriority="low" /><span class="appNavLabel" data-i18n="nav.tilesheet">切片图工具</span></a>
    <a class="appNavLink pageTab" data-twt-page="armorhelper" href="./armorhelper.html"><img class="tabIcon" src="/trtools/img/ArmorHelper.png" alt="" width="16" height="16" decoding="async" fetchpriority="low" /><span class="appNavLabel" data-i18n="nav.armor">装备帧生成器</span></a>
    <a class="appNavLink pageTab" data-twt-page="prtsarmorgen" href="./prtsarmorgen.html"><img class="tabIcon" src="/trtools/img/prts-wiki-favicon.ico" alt="" width="16" height="16" decoding="async" fetchpriority="low" /><span class="appNavLabel" data-i18n="nav.prtsArmor">PRTS 盔甲生成器</span><span class="appNavBadge appNavBadge--new" data-i18n="nav.badgeNew">新</span></a>
    <a class="appNavLink pageTab" data-twt-page="spritetransform" href="./spritetransform.html"><img class="tabIcon" src="/trtools/img/SpriteTransform.png" alt="" width="16" height="16" decoding="async" fetchpriority="low" /><span class="appNavLabel" data-i18n="nav.sprite">躯干格式转换器</span></a>
    <a class="appNavLink pageTab" data-twt-page="tool14to13" href="./tool14to13.html"><img class="tabIcon" src="/trtools/img/14to13icon.png" alt="" width="16" height="16" decoding="async" fetchpriority="low" /><span class="appNavLabel" data-i18n="nav.tool14to13">1.4 材质图转 1.3</span></a>
    <a class="appNavLink pageTab" data-twt-page="texturesplitter" href="./texturesplitter.html"><img class="tabIcon" src="/trtools/img/TextureSplitter.ico" alt="" width="16" height="16" decoding="async" fetchpriority="low" /><span class="appNavLabel" data-i18n="nav.texture">物块生成器</span></a>
    <a class="appNavLink pageTab" data-twt-page="armorcodegen" href="./armorcodegen.html"><img class="tabIcon" src="/trtools/img/armorcodegen-icon.svg" alt="" width="16" height="16" decoding="async" fetchpriority="low" /><span class="appNavLabel" data-i18n="nav.armorCode">盔甲代码生成器</span><span class="appNavBadge appNavBadge--old" data-i18n="nav.badgeOld">旧</span></a>
    <a class="appNavLink pageTab" data-twt-page="oggconvert" href="./oggconvert.html"><img class="tabIcon" src="/trtools/img/OGG.png" alt="" width="16" height="16" decoding="async" fetchpriority="low" /><span class="appNavLabel" data-i18n="nav.ogg">OGG 转换</span></a>
    <a class="appNavLink pageTab" data-twt-page="tmodunpacker" href="./tmodunpacker.html"><img class="tabIcon" src="/trtools/img/14248019.png" alt="" width="16" height="16" decoding="async" fetchpriority="low" /><span class="appNavLabel" data-i18n="nav.tmod">.tMod 文件解包</span></a>
    <a class="appNavLink pageTab" data-twt-page="terrasavr" href="./terrasavr.html"><img class="tabIcon" src="/trtools/img/terrasavr-favicon.ico" alt="" width="16" height="16" decoding="async" fetchpriority="low" /><span class="appNavLabel" data-i18n="nav.terrasavr">角色存档编辑器</span></a>
    <div class="appNavSectionLabel" data-nav-section="plugins" style="margin-top:10px" data-i18n="nav.sectionPlugins">插件下载</div>
    <a class="appNavLink pageTab" data-twt-page="aseprite-plugin" href="./aseprite-plugin.html"><img class="tabIcon" src="/trtools/img/aseprite-plugin-icon.png" alt="" width="16" height="16" decoding="async" fetchpriority="low" /><span class="appNavLabel" data-i18n="nav.asepritePlugin">Aseprite 插件</span></a>
  </nav>
  <div class="appSidebarFooter">
    <div class="appSidebarFooterRow">
      <a class="appNavLink appNavLink--settings appNavLink--settings--icon" href="./settings.html" data-page="settings" data-i18n-title="footer.settings" data-i18n-aria="footer.settings" title="设置" aria-label="设置">
        <i class="fas fa-cog" aria-hidden="true"></i>
      </a>
      <a class="appNavLink appNavLink--stats" href="./stats.html">
        <i class="fas fa-chart-line" aria-hidden="true"></i>
        <span data-i18n="footer.stats">访问统计</span>
      </a>
    </div>
  </div>
</div>
